<li id="picture_<%= picture.id%>" class="picture ui-state-default">
  <span class="ui-icon-arrowthick-2-n-s"> &nbsp;</span>
  <span class="actions">
    <%= link_to "Editer", edit_admin_category_picture_path(category,picture), :remote => true %>
  </span>
  <%= image_tag picture.image.url(:small), :class=> 'head_image' %>
  <%= picture.title if picture.title? %>
</li>