ul#categories li,
ul#categories li div.header{
  -moz-border-radius:4px 4px 4px 4px;
  list-style:none;
  line-height:50px;
}

ul#categories img.head_image{
  position:relative;
  top:10px;
  margin:0 10px;
  margin-left:35px;
}
ul#categories.ui-sortable li img.head_image,
ul#pictures.ui-sortable li img.head_image{
  margin-left:20px;
}
ul#categories span.ui-icon-arrowthick-2-n-s{
  float:left;
  left:10px;
  position:relative;
  top:17px;
}
ul#categories li span.actions{
  float:right;
  margin:0 10px;
  font-size:70%;
}
ul#categories li span.actions a{
  padding:0;
  padding-left:5px;
}
ul#categories li span.actions a:hover{
  text-decoration:underline;
}

form{
  margin:0 20px;
}
form h4{
  margin:10px 0;
  text-decoration:underline;
}
form label{
  float:left;
  width:200px;
  font-size:80%;
}
form textarea{
  height:100px;
}
form div.form_line input,
form div.form_line textarea{
  font-size:70%;
  width:500px;
}
