<div id="gallery">
<!--  <div id="controls"></div> -->
  <div id="loading"></div>
  <div id="slideshow"></div>
<!--    <div id="caption"></div> -->
  <div id="thumbs">
    <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
    <ul class="thumbs">
      <%= render :partial => @pictures %>
    </ul>
    <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
  </div>
</div>

