%div{ :id => "#{params[:type]}_categories_wrapper"}
  = render :partial => 'admin/categories/link_new'
  %div{ :id=>"#{params[:type]}_categories", :class=>"sortable accordion categories"}
    - @categories.each do |category|
      = render :partial => 'admin/categories/category', :object => category, :layout => 'item'
