<div id="category_<%=@category.id%>_menu" class="category_menu menu ">
  <h3><%= @category.title%></h3>
  <% if @pictures %>
  <ul>
    <li id="slideShowCaption"></li>
    <li id="slideShowControls"></li>
    <% if params[:controller] == "categories" %>
      <li><%= link_to "Overview", category_path(@category), :remote => true %></li>
    <% end %>
    <li><%= link_to "Full Screen", "#", :id => "fullScreen" %></li>
  </ul>
  <% end %>
</div>