<div id="category_<%=@category.id%>_menu" class="category_menu menu ">
  <h3><%= @category.title%></h3>

  <ul>
    <li id="slideShowCaption"></li>
    <li id="slideShowControls"></li>
    <li><%= link_to "Full Screen", "#", :id => "fullScreen" %></li>
  </ul>

</div>